<ul class='nav navbar-nav navbar-right'>
  <li>
    <%= link_to carts_path do  %>
      購物車 <i class='fa fa-shopping-cart'> </i> ( <%= current_cart.products.count %> )
    <% end %>
  </li>

  <% if user_signed_in? %>
    <li>
      <%= link_to('訂單列表', account_orders_path ) %>
    </li>
    <li class='nav-item'>
      <%= link_to('登出', destroy_user_session_path, method: :delete, class: 'nav-link') %>
    </li>
  <% else %>
    <li class='nav-item'>
      <%= link_to('註冊', new_user_registration_path, class: 'nav-link') %>
    </li>
    <li class='nav-item'>
      <%= link_to('登入', new_user_session_path, class: 'nav-link') %>
    </li>
  <% end %>
</ul>
